/* CSS RESET & Default Config*/

*{
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.main {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr; /*define a quantidade de colunas no eixo X */
	grid-template-areas:"linha1"
						"linha2"
                        "linha3";
    grid-template-rows:  auto 1fr auto ; /*define a quantidade de linhas no eixo Y */
	
}
  
header {
    padding-top:10px;
    grid-area: linha1;
    background-color: #323232;
    color: #fff;
    border-bottom: 5px solid #6363ea;
}

nav .navBtns{
    text-align: center;
}
.btnNav{
    background-color: transparent;
    border: 0;
    color: #6363ea;
    outline: none;
    transition: 0.3s;
}

.btnNav:hover{
    color:#5353b7;
}


nav .logo{
    width: 30%;
    float: left;
}

nav .logo:hover{
    transition: 0.3s;
    filter: brightness(0.80);
}

.pesquisa{
    width: 70%;
    float: left;
}

#pesquisar{
    margin: 8% auto auto 5%;
    width: 80%;

    height: 2rem;
    border-radius: 3px;
    border: 0;
    outline: none;
    padding: 0.5rem;

    font-size: 1.2rem;

}

.search{
    clear: both;
    width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.menu{
    display: none;
    flex-direction: row;
    padding-top: 1rem;
    height: 3rem;

    border-top:5px solid #6363ea ;
    text-align: center;
    list-style: none;
    
    
}

.menu li{
    flex: 1;
}




footer{
    height: 80px;

    grid-area: linha3;
    border-top:10px solid #6363ea ;
    background-color: #323232;
    padding-top: 20px;

    color: #fff;
    text-align: center;
}





.container{
    grid-area: linha2;
}

@media screen and (min-width:800px){
    header{
        border: 0;
    }
    
    nav .logo{
        width: 20%;
    }
    .pesquisa{
        width: 80%;
    }

    #pesquisar{
        margin: 8% auto auto 12%;
        width: 80%;
    
        height: 2.5rem;
    }

    .menu{
        display: flex;
    }
}
